@import "tailwindcss";

@font-face {
    font-family: "Krungthep";
    src: url("/fonts/Krungthep.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Andalemo";
    src: url("/fonts/ANDALEMO.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #0a0a0a;
    --background-light: #1a1a1a;
    --text: #ffffff;
    --violet: #67348b;
    --rose: #e6007e;
    --gris: #6f6b75;
    --mauve: #54485b;
    --dark: #717171;

    background-color: var(--background);
    color: var(--text);
    font-family: "Andalemo", sans-serif;

    overflow-x: hidden;
    scroll-behavior: smooth;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */

    cursor: default;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

h1 {
    font-weight: 700;
    color: var(--text);
    font-family: "Krungthep", sans-serif;
}

.form-container {
    background: linear-gradient(var(--background), var(--background))
            padding-box,
        linear-gradient(145deg, transparent 35%, var(--violet), var(--rose))
            border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-container h2 {
    font-family: Krungthep, sans-serif;
}
